.theos/
packages/
.DS_Store
*.xcscmblueprint
*.xccheckout
*.xcarchive
xcuserdata
Resources/Frameworks/OpenSSL.framework
apps_nightly.json
/dist
Resources/AppBox-JITLess-*.p12
Resources/AppBox-JITLess-*.plist
